/*====================RESET START=======================*/
  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /*====================RESET END=======================*/

  /*====================COMMON START=======================*/

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial,
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 1000px; /*dev only*/
    line-height: 1.17;
  }

  a {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
  }
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  /*====================COMMON END=======================*/

  /*====================HEADER START=======================*/
  .header{
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
  }
  .header__elements{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 50px 0 30px 0;
  }
  .elements__text{
    font-size: 22px;
    font-weight: 900;
    color: rgb(70, 70, 70);
  }
  .elements__suggestions{
      display: flex; 
      gap: 10px;
      font-weight: 500;
  }
  .elements__suggestions a{
    color: blue;
  }
  .elements__suggestions a:hover{
    text-decoration: underline;
  }
  /*====================HEADER END=======================*/

  /*====================SEARCH START=======================*/
  .search-bar{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }
  .search{
    width: 75%;
    background-color: rgba(255, 254, 254, 0.809);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
  }
  .search-text{
    padding: 8px 5px;
    color: grey;
    font-weight: 500;
  }
  .search-text:hover{
    color: black;
  }
  .search-button{
    width: 150px;
    background-color: rgba(255, 254, 254, 0.809);
    color: rgb(37, 131, 255);
    border: 1px solid rgb(37, 131, 255);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
  }
  .search-button:hover{
    color: rgb(14, 18, 119);
  }
  /*====================SEARCH END=======================*/

  /*====================FILTER START=======================*/
  .filtre_sort_and_ads{
    display: flex;
    gap: 15px;
  }  
  .filter{
    width: 25%;
    border: 2px solid black;
  }
  .filter-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: sticky;
    top: 20px;
  }
  .filter-buttons{
    width: 220px;
    margin-bottom: 30px;
  }
  .filter-buttons button{
    background-color: white;
    color: rgb(37, 131, 255);
    border: 1px solid rgb(186, 186, 186);
    padding: 4px 10px;
    margin: 0 8px 10px 0;
    font-size: 16px;
    font-weight: 500;
  }
  .filter-buttons button:hover{
    border: 1px solid blue;
  }
  .filter-form h4{
    color: #db5c4c;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .filter-form label{
    display: flex;
    gap: 5px;
  }
  .form-vin-text{
    background-color: #246799;
    color: white;
    width: 170px;
    border-radius: 2px;
    font-size: 13px;
    padding: 0 8px;
  }
  /*====================FILTER END=======================*/

  /*====================SORT START=======================*/
  .sort_and_ads{
    width: 62%;
    display: flex;
    flex-direction: column;
  }  
  .sort{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .sort-options{
    display: flex;
    gap: 20px;
    font-size: 16px;
  }
  .page-view{
    display: flex;
    gap: 15px;
  }
  .fa-bars{
    color:grey;
    font-size: 20px;
  }
  .fa-bars:hover{
    color: rgba(158, 40, 14, 0.919);
  }
  .fa-th-large{
    color: grey;
    font-size: 20px;
  }
  .fa-th-large:hover{
    color: rgba(158, 40, 14, 0.919);
  }
  /*====================SORT END=======================*/

  /*====================ADS START=======================*/
  .ads-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .ads{
    display: flex;
    gap: 15px;
  }
  .ads-img{
    width: 300px;
    height: 200px;
  }
  .ads-information{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
  }
  .ads-information h2{
    color: rgb(37, 131, 255);
    font-size: 20px;
  }
  .price{
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }
  .price-dollars{
    font-size: 20px;
    color: rgb(4, 160, 4);
    font-weight: 700;
  }
  .price-hryvnas{
    font-size: 16px;
    font-weight: 500;
  }
  .specificatons{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 265px;
  }
  .mileage{
    width: 50%;
  }
  .country{
    width: 50%;
  }
  .fuel{
    width: 50%;
  }
  .transmission{
    width: 50%;
  }
  .vin{
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    border-radius: 5px;
    width: 200px;
  }
  .fa-car-mirrors{
    width: 20px;
    color: black;
  }
  .consume{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
  }
  .consume_meaning{
    display: flex;
    gap: 5px;
  }
  /*====================ADS END=======================*/